<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Класифікація одягу{% endblock %}

{% block content %}
    <h1>Класифікація одягу</h1>

    <!-- Зображення -->
    <form method="POST" enctype="multipart/form-data" action="{% url 'detect_image' %}">
        {% csrf_token %}
        <label>Оберіть зображення:</label>
        <input type="file" name="image" accept="image/*" onchange="previewImage(this)" required>
        <img id="preview" src="#" alt="Прев'ю зображення">
        <button type="submit">Виконати класифікацію</button>
    </form>

    <!-- Відео -->
    <h2>Аналіз відео</h2>
    <form method="POST" enctype="multipart/form-data" action="{% url 'detect_video' %}">
        {% csrf_token %}
        <label>Оберіть відеофайл (mp4):</label>
        <input type="file" name="video" accept="video/*" required>
        <button type="submit">Аналізувати</button>
    </form>
    <form method="POST" enctype="multipart/form-data" action="{% url 'stream_video' %}">
        {% csrf_token %}
        <label>Потокове відео</label>
        <button type="submit" name="live_stream" value="1">Почати стрімінг</button>
    </form>
{% endblock %}